vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Nov 2014 04:37:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|AGT/index.html BetaAO/index.html AutoObsessionsGame/index.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|29 Oct 2014 07:51:13 -0000
vti_nexttolasttimemodified:TW|05 Nov 2014 04:16:32 -0000
vti_cacheddtm:TX|05 Nov 2014 04:37:29 -0000
vti_filesize:IR|5440
vti_cachedlinkinfo:VX|S|../images/AbsuMenu.png S|../images/logo.png S|../images/credits-bg.png S|../images/soundOn.png S|../images/settings.png S|../images/settings.png S|../images/settings.png S|../images/settings.png S|../images/settings.png S|../images/soundOff.png S|../images/logo.png
vti_cachedsvcrellinks:VX|FSUS|LongBoat/images/AbsuMenu.png FSUS|LongBoat/images/logo.png FSUS|LongBoat/images/credits-bg.png FSUS|LongBoat/images/soundOn.png FSUS|LongBoat/images/settings.png FSUS|LongBoat/images/settings.png FSUS|LongBoat/images/settings.png FSUS|LongBoat/images/settings.png FSUS|LongBoat/images/settings.png FSUS|LongBoat/images/soundOff.png FSUS|LongBoat/images/logo.png
