vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Nov 2014 19:40:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|AGT/index.html BetaAO/index.html AutoObsessionsGame/index.html
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timecreated:TR|29 Oct 2014 07:51:13 -0000
vti_nexttolasttimemodified:TW|02 Nov 2014 19:39:15 -0000
vti_cacheddtm:TX|02 Nov 2014 19:40:09 -0000
vti_filesize:IR|5241
vti_cachedlinkinfo:VX|S|../images/AbsuMenu.png S|../images/logo.png S|../images/credits-bg.png S|../images/soundOn.png S|../images/settings.png S|../images/settings.png S|../images/settings.png S|../images/settings.png S|../images/soundOff.png S|../images/logo.png
vti_cachedsvcrellinks:VX|FSUS|AGT/images/AbsuMenu.png FSUS|AGT/images/logo.png FSUS|AGT/images/credits-bg.png FSUS|AGT/images/soundOn.png FSUS|AGT/images/settings.png FSUS|AGT/images/settings.png FSUS|AGT/images/settings.png FSUS|AGT/images/settings.png FSUS|AGT/images/soundOff.png FSUS|AGT/images/logo.png
